body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #F8F9FF;

}

a {
  color: #00B7FF;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1 {
  text-align: center;
  margin-bottom: 70px;
}

h5 {
  color: #006adb;
  font-weight: bold;
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.btn {
  transition: ease-in-out .2s;
}

.btn:hover {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 106, 219, 0.7);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 106, 219, 0.7);
  box-shadow: 0px 0px 10px 0px rgba(0, 106, 219, 0.7);
}

.form_registro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
  background: #fff;
  -webkit-box-shadow: 0px 3px 20px 0px rgba(50, 50, 48, 0.3);
  -moz-box-shadow: 0px 3px 20px 0px rgba(50, 50, 48, 0.3);
  box-shadow: 0px 3px 20px 0px rgba(50, 50, 48, 0.3);
}

.form_registro input {
  border: 0;
}

.form_registro_icon {
  font-size: 1rem;
  margin: 0;
  color: #ccc;
}

.form-control:active {
  background: #fff;
}

.subtext {
  font-size: 20px;
  text-align: center;
  margin-bottom: 40px;
}

.center td {
  width: 20%;
}

#users_table {
  width: 80%;
  margin: 0 auto;
}

#trabajo {
  margin: 50px auto;
  padding: 5px 20px;
}

.info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 16px;
}

.modal-heade {
  padding: 3rem 3rem 2rem;
}

.modal-header {
  border-bottom: 1px solid #e2e2e2;
}

.modal-content {
  background: url('../images/patterns.png') #fff;
  border: 0;
  border-radius: 1rem;
}

.modal_icon {
  padding: 0;
  margin: 0px 10px 0 0 !important;
}

.right {
  float: right;
}

.modal-icon {
  background: rgba(84, 84, 95, .5);
  display: inline-block;
  padding: 7px 32px;
  border-radius: 22px;
  color: #fff;
  margin-bottom: 10px;
}

select {
  border: 1px solid #ccc;
  background: URL("../images/arrow.svg") no-repeat 90% -2px #fff !important;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.modal-body {
  background: #fff;
  border-radius: 75px 75px 0 0;
  -webkit-box-shadow: 0px -8px 17px -10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px -8px 17px -10px rgba(0, 0, 0, 0.2);
  box-shadow: 0px -8px 17px -10px rgba(0, 0, 0, 0.2);
}

.modal-footer {
  background: #fff;
}
#new_user .form-group{
  justify-content: start;
}
.form-group {
  margin: 0;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search {
  margin-bottom: 80px;
  margin-top: 50px;
}

.search_form {
  align-items: center;
  border-radius: 15px;
  background: #fff;
  -webkit-box-shadow: 0px 3px 20px 0px rgba(50, 50, 48, 0.3);
  -moz-box-shadow: 0px 3px 20px 0px rgba(50, 50, 48, 0.3);
  box-shadow: 0px 3px 20px 0px rgba(50, 50, 48, 0.3);
}

.search_borde {
  border-bottom: 1px solid #e2e1e1;
  border-left: 0;
  border-top: 0;
  border-right: 0;
}

.search_icon {
  font-size: 1.6rem;
  margin: 0;
  color: #ccc;
}

.ofert_icon {
  font-size: 1rem;
  margin-right: 15px;
  color: #ccc;
}

.iconbtn {
  padding-right: 10px;

}

.select_holder {
  z-index: 9999;
  position: relative;
}

.form-control {
  border: 0;
  width: 65%;
  cursor: pointer;
  
}
.btn-form{
  display: flex;
  justify-content: center;
}
#new_user #buscar{
  margin: 30px;

}
#buscar {
  padding: 10px;
  width: 90%;
  border-radius: 10px;
  margin-bottom: 20px;
}

#formulario {
  width: 90%;
  margin: 0 auto;
}

.logo {
  width: 160px;
  height: 120px;
  display: flex;
  align-items: center;
}

.form-control:focus {
  border-color: none !important;
  box-shadow: none !important;
}

.subtitle {
  opacity: 0;
  margin: 0px 0;
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: 60px;
}

.card {
  border: none;
  border-radius: .7rem;
  margin: 30px 10px;
  -webkit-box-shadow: 0px 10px 28px -13px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 10px 28px -13px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 10px 28px -13px rgba(0, 0, 0, 0.4);
  transition: ease-in-out .2s;
}

.card:hover {
  transform: scale(1.02);
  -webkit-box-shadow: 0px 10px 28px -13px rgba(0, 98, 204, 1);
  -moz-box-shadow: 0px 10px 28px -13px rgba(0, 98, 204, 1);
  box-shadow: 0px 10px 28px -13px rgba(0, 98, 204, 1);
}

.container_img {
  display: flex;
  justify-content: center;
}

.card-img {
  width: 16%;
  margin: 40px 15px 15px;
}

.card-title {
  margin-bottom: 25px;
  width: 100%;
  text-align: center;
}

.card_time {
  background: rgb(226, 226, 226);
  border-radius: 20px;
  padding: 5px 30px;
}

.header_card {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}

.footer_card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.footer_card p {
  margin-right: 10px;
}

.align_card {
  align-items: center;
}

.card_right {
  right: 0px;
  top: 0;
}

.imgs {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

.card-img-modal {
  width: 100%;
  margin: 0 auto;
}

.modal-dialog {
  max-width: 90%;
  margin: 1.75rem auto;
}

.modal-body {
  padding: 3rem;
}

p {
  line-height: 30px;
  font-size: 16px;
  text-align: justify;
}

strong {
  font-weight: bolder;
  font-size: 23px;
  padding: 23px 0;
  display: block;
}

li {
  font-size: 16px;
  line-height: 30px;
}

.modal-header {
  padding: 1rem 3rem;
}

.btn-buscar{
  display: flex;
  justify-content: center;
}
@media (min-width: 576px) {

}
@media (min-width: 768px) {
  .modal-dialog {
    max-width: 70%;
  }

  .card-img {
    width: 40%;
    margin: 0px;
  }
  .card_right {
    position: absolute;
  }
  .footer_card {
    flex-direction: row;
  }
  .card-body {
    margin-right: 35px;
  }
  .header_card {
    flex-direction: row;
  }
  .card-title {
    margin: 0;
    padding-right: 30px;
    width: 65%;
    text-align: left;
  }
  #buscar{
    margin-bottom: 0px;
  }
  
}
@media (min-width: 992px) {
  .modal-dialog {
    max-width: 60%;
  }
  .modal-icon{
    margin-bottom: 0px;
  }
  #formulario {
    width: 65%;
  }
  .form_registro {
    flex-direction: row;
  }
  .search_borde {
    border-right: 1px solid #e2e1e1;
    border-left: 0;
    border-top: 0;
    border-bottom: 0;
  }
  #new_user #buscar{
    margin: 0;
  }

}
@media (min-width: 1200px) {
  .modal-dialog {
    max-width: 50%;
  }
}